.end {
    width: 100%;
    background-color: rgb(42, 42, 42);
}

.group {
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.part {
    width: 20%;
    height: 100%;
    margin-bottom: 50px;
}

.up {
    width: 100%;
    margin-bottom: 40px;
}

.up>img {
}

.up>h3 {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.part>a {
    display: block;
    opacity: 0.6;
    color: white;
    font-size: 17px;
    line-height: 2;
}

.part>a:hover {
    color: white;
    opacity: 1;
    transition: 0.8s;
}

.part>p {
    color: white;
    opacity: 0.6;
    line-height: 1.5;
    font-size: 16px;
}

.part>form>button {
    display: block;
}

.oooh {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px rgba(182, 182, 182, 0.705) solid;
    padding-top: 20px;
    padding-bottom: 20px;
}

.partor {
}

.partor>p {
    color: rgb(131, 131, 131);
    font-size: 17px;
}

.titi {
    display: flex;
}

.titi>a {
    color: white;
    opacity: 0.6;
    margin-left: 20px;
    font-size: 16px;
}

.titi>a:hover {
    color: white;
    opacity: 1;
    transition: 0.8s;
}

.sre {
    color: white;
    line-height: 2;
    font-size: 18px;
}

.g {
    display: inline;
}

.part>form>input {
    border: none;
    border-bottom: 1px white solid;
    padding-bottom: 2%;
    font-size: 20px;
    margin-bottom: 10%;
    background-color: rgb(42, 42, 42)
}

.part>form>button {
    color: white;
    border: 1px white solid;
    background-color: rgb(42, 42, 42);
    font-size: 25px;
    padding: 4% 10%;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 5%;
}

.part>form>button:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}