.twoheader {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 5px 5px -5px black;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.parts {
    display: flex;
}

.parts>a {
    color: #333333;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 2px;
    margin-left: 20px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}

.parts > a::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #1c2541;
    opacity: 0;
    transition: .3s;
    width: 0;
    margin: auto;
}

.parts > a:hover::after {
    opacity: 1;
    width: 100%;
}
.parts > a:hover {
    color: #1c2541;
}