.oneheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3a506b;
    width: 100%;
    height: 4%;
}

.contacts {
    width: 38%;
    margin-left: 19%;
}

.icons {
    margin-right: 19%;
    width: 8%;
}

.contacts>i {
    color: #aab2b9;
    font-size: 14px;
}

.contacts>a {
    color: #aab2b9;
    font-size: 15px;
    margin-right: 3%;
    margin-left: 1%;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.contacts>a:hover {
    color: #f5f6f7;
    transition: 0.8s;
}

.icons>a {
    color: #aab2b9;
    font-size: 15px;
    margin-right: 14%;
}

.icons>a:hover {
    color: #f5f6f7;
    transition: 0.8s;
}