.oneheader {
    display: flex;
    background-color: #3a506b;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contacts {
    position: relative;
    left: 10%;
}

.contacts>i {
    color: #aab2b9;
    font-size: 14px;
}

.contacts>a {
    color: #aab2b9;
    font-size: 15px;
    padding-right: 25px;
    padding-left: 5px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.contacts>a:hover {
    color: #f5f6f7;
    transition: 0.8s;
}

.icons {
    position: relative;
    right: 120%;
}

.icons>a {
    color: #aab2b9;
    font-size: 15px;
    padding-right: 20px;
}

.icons>a:hover {
    color: #f5f6f7;
    transition: 0.8s;
}