.squares {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -95px;
}

.squareone {
    background-color: #1c2541;
    width: 390px;
    height: 270px;
    margin-right: 2px;
}

.squaretwo {
    background-color: #3a506b;
    width: 390px;
    height: 270px;
}

.squarethree {
    background-color: #3a506b;
    width: 390px;
    height: 270px;
    margin-left: 2px;
}

.im1>i {
    color: white;
    font-size: 65px;
    position: relative;
    left: 160px;
    top: 40px;
}

.im2>i {
    color: white;
    font-size: 65px;
    position: relative;
    left: 160px;
    top: 40px;
}

.im3>i {
    color: white;
    font-size: 65px;
    position: relative;
    left: 160px;
    top: 40px;
}

.squareone>a {
    color: white;
    position: relative;
    left: 110px;
    top: 65px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

.squaretwo>a {
    color: white;
    position: relative;
    left: 75px;
    top: 65px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

.squarethree>a {
    color: white;
    position: relative;
    left: 70px;
    top: 65px;
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
}

.squareone>p {
    color: #f0f1f3;
    position: relative;
    top: 85px;
    text-align: center;
    line-height: 1.6;
    opacity: 0.9;
}

.squaretwo>p {
    color: #f0f1f3;
    position: relative;
    top: 85px;
    text-align: center;
    line-height: 1.6;
    opacity: 0.5;
}

.squarethree>p {
    color: #f0f1f3;
    position: relative;
    top: 85px;
    text-align: center;
    line-height: 1.6;
    opacity: 0.5;
}

.squareone>a:hover {
    color: #aab2b9;
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-color: #aab2b9;
    text-decoration-thickness: 2px;
}

.squaretwo>a:hover {
    color: #aab2b9;
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-color: #aab2b9;
    text-decoration-thickness: 2px;
}

.squarethree>a:hover {
    color: #aab2b9;
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-color: #aab2b9;
    text-decoration-thickness: 2px;
}